.container:first-child {
  width: 100%;
  padding: 0;
}

.table {
  border-top: 2px solid #3176bb;
  color: #3176bb;
}
.table th {
  color: white;
  border-color: #3176bb !important;
  padding: 10px 15px !important;
  background-color: #3176bb;
  text-align: center;
}
.table th a {
  color: white;
}
.table tbody td {
  border-color: #3176bb !important;
  padding: 10px 15px !important;
  text-align: center;
  transition: all 0.2s;
}
.table tbody td.button-column {
  padding: 5px 10px;
}
.table tbody td.button-column a {
  padding: 5px;
  border: 1px solid #3176bb;
  border-radius: 4px;
  background-color: white;
  font-weight: 600;
  transition: all 0.2s;
}
.table tbody td.button-column a:hover {
  text-decoration: none;
  background-color: #3176bb;
  color: white;
  transition: all 0.2s;
}
.table tbody tr:hover {
  background-color: #c8dcf0;
  transition: all 0.3s;
}
.table tbody tr.vip-order {
  background-color: lightsalmon;
}

.container:first-child {
  width: 100%;
  padding: 0;
}

.form .form-group > div p {
  color: #3176bb;
}
.form .form-group > div p.big {
  font-size: 200%;
}
.form .form-group .control-label {
  color: #21507e !important;
  padding-right: 1rem;
}
.form .form-group .number {
  width: 80px;
}

.btn-default {
  display: inline-block;
  border: 1px solid #3176bb;
  border-radius: 4px;
  background-color: white;
  font-weight: 600;
  transition: all 0.2s;
  color: #3176bb;
}
.btn-default:hover {
  text-decoration: none;
  background-color: #3176bb;
  color: white !important;
  transition: all 0.2s;
}

.btn-primary {
  color: white !important;
  transition: all 0.2s;
}
.btn-primary:hover {
  transition: all 0.2s;
}

select, input {
  color: #3176bb !important;
}
select:not(.has-error), input:not(.has-error) {
  border: 1px solid #3176bb;
}
